body{
  background-image:url('IMG_20230122_170325.jpg');
  background-size:cover;
  background-position: center;
  backgroung-repeat:no-repeat;
  font-family: 'PingFang TC', 'Heiti TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}
h1, h2, p{
  color:white;
  text-align:center;
}
.pic{
  color: white;
}

.Slideshow img {
  position: absolute;
  top-marging: auto;  
}
  

