body{
  background-image:url('IMG_20230122_170325.jpg');
  background-size:cover;
  background-position: center;
  backgroung-repeat:no-repeat;
  font-family: 'PingFang TC', 'Heiti TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}
div{
  position: center;
  text-align: center;
  background-size:cover;
  backgroung-repeat:no-repeat;
  background: rgba(0, 0, 0, 0.5);
}
h1, h2, p, hr{
  color:white;
  text-align:center;
  opacity: 1;
}
#dot{
  opacity: 0.1;
  color: black;    
}
.Slideshow{
  position: relative;
  margin-top: auto;
}
.Slideshow img{
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  display: none;
}




  

