body{
  background-image:url('IMG_20230122_170325.jpg');
  background-size:cover;
  background-position: center;
  backgroung-repeat:no-repeat;
  font-family: 'PingFang TC', 'Heiti TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;
}
h1, h2, p{
  color:#ffffff;
  text-align:center;
}
.pic{
  color: white;
}
.Slideshow {
  position: relative;
  left-margin: auto;
  right-margin: auto;
  overflow: hidden;
  
}

.Slideshow img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
  

