body{
  background-image:url(https://scontent.ftpe14-1.fna.fbcdn.net/v/t1.15752-9/387340401_150874254720143_1614227612665289763_n.jpg?stp=cp0_dst-jpg_e15_fr_q65&_nc_cat=108&ccb=1-7&_nc_sid=58c789&efg=eyJpIjoidCJ9&_nc_ohc=JgnWHPGeVekAX8bcWx0&_nc_ht=scontent.ftpe14-1.fna&oh=03_AdQUV8Y9ZYi5_8I_tLDBEIQ0YGAkE0U1qb4hAIeiQHWhWA&oe=654A2863);
  background-size:cover;
  background-position: center;
  backgroung-repeat:no-repeat;
  font-family:"標楷體";
  font-family:sans-serif;
}

